body {
  margin-left: 100px;
  margin-right: 100px;
}
canvas {
  border: 0.5px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #89a9ee;
}

h1 {
  margin: 0;
  padding: 0 0 25 0;
  text-align: center;
  font-size: 5em;
}

button {
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 14px;
  background-color: white;
  border: solid .5px grey;
  border-radius: 7px;
  margin: 5px;
}

button:hover {
  color: #89a9ee;
}

.canvas-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.penSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 15px;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.draw {
    padding:10px;
}

#draw {
  margin: 0;
  padding: 0;
  font-family: 'Annie Use Your Telescope', cursive;
}

.popupDraw {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  opacity:0;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.popupDraw:target {
  opacity:1;
  pointer-events: auto;
}

.popupDraw > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #ffffff;
}

.close {
  background: #000000;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  font-family: 'Annie Use Your Telescope', cursive;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
}

.close:hover {
  background: #a6a6ed;
}
